# Virtual environments
venv/
.venv/

# Environment files
.env
.envrc

# Django media and static
/media/
media/
staticfiles/
*.log
*.sqlite3

# Bytecode / cache
*.pyc
*.pyo
*.pyd
__pycache__/

# Django extra
local_settings.py

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Testing
.pytest_cache/
.coverage
htmlcov/
